.expandable-details-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  width: 100%;
  font-weight: bold;
}

.expandable-details-item .expandable-details-item-label {
  min-width: 100px;
  max-width: 200px;

  text-align: right;
}

.expandable-details-item .expandable-details-item-desc {
  width: 0;
  flex-grow: 1;
  padding: 0 50px 0 25px;

  text-align: left;
}

.MuiExpansionPanelDetails-root-150 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.MuiTypography-root-68.MuiTypography-body1-77 {
  width: 100%;
}

.MuiExpansionPanelSummary-content-66 {
  margin: 3px 0 !important;
} 

.MuiExpansionPanelSummary-content-66.MuiExpansionPanelSummary-expanded-63 {
  margin: 10px 0 !important;
}